.about {
  flex-direction: column;
  margin-top: 3rem;
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-bottom: 1rem;
}

.about__desc {
  max-width: 600px;
}

.about__desc {
  margin-top: 1rem;
}

.about .link--icon {
  margin-right: 0.8rem;
  font-size: 24px;
}

.about .link--icon:last-child {
  margin-right: 0;
}

.about .btn--outline {
  margin-right: 1rem;
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2rem;
  }
}

.gradient-text {
  /* fallback */
  color: black;
}

/* gradient text for modern browsers */
@supports (background-clip: text) {
  .gradient-text {
    background-color: black;

    /* Create the gradient. */
    background-image: var(--gradient);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}
