.contact {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-icon {
  display: inline-block;
  width: 2em;
}

.contact-icon:hover {
  animation: rotate 2s infinite ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
