.contact {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-gif {
  width: 3.5em;
  margin: 0 auto;
}

.static {
  position: absolute;
}
.static:hover {
  opacity: 0;
}
