.header {
  height: 4rem;
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-l);
}

@media (max-width: 600px) {
  .header {
    height: 2rem;
  }
}

.home {
  font-size: var(--font-size-xl);
}

.home svg {
  height: 24px;
  margin-top: 5px;
  width: auto;
  fill: var(--clr-primary);
}

@media (min-width: 600px) {
  .logo {
    margin: 0;
    height: 35px;
  }
}
