.nav__list {
  margin-right: 1.5em;
  display: flex;
}
.nav__list-item {
  font-size: var(--font-size-l);
  margin-left: 1.5rem;
}

.app .nav__hamburger {
  display: none;
}

.nav__theme {
  font-size: var(--font-size-xl);
  margin-top: 0.4em;
}

@media (max-width: 600px) {
  .nav__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
  }

  .nav__list-item {
    margin: 0.5rem 0;
  }

  .app .nav__hamburger {
    font-size: var(--font-size-xxl);
    display: flex;
    z-index: 10;
    margin-left: 0.8rem;
    margin-top: 0.4rem;
  }
}
